obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.g.props
obj/Debug/net8.0/DDDNetCore.AssemblyInfo.cs
obj/Debug/net8.0/DDDNetCore.AssemblyInfoInputs.cache
obj/Debug/net8.0/DDDNetCore.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/DDDNetCore.assets.cache
obj/Debug/net8.0/DDDNetCore.csproj.AssemblyReference.cache
obj/project.assets.json
obj/project.nuget.cache