<div class="card shadow border-0 w-75 ">
  <div class="card-header bg-secondary bg-gradient ">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-white"> Login Using Google</h2>
      </div>
    </div>
    <div class="card-body p-2">
      <form method="post">
        <div class="border p-2 mt-2">
          <div class="col-5 text-end">
            <a asp-controller="Login" asp-action="Login" class="btn btn-primary form-control">Sign-In with Google </a>
          </div>
        </div>
    </div>
    </form>
  </div>
</div>